/* ============= Contato ============= */

#contato {
	background: transparent url('../imagens/fundo-ondulado-contato.png') no-repeat;
	background-color: #8DD13A;
	color: white;
	font-family: Trebuchet, sans-serif;
	text-transform: uppercase;
}
#contato2 {
	text-align: center;
	padding-top: 500px;
	font-size: 40px;
}


input.text{
	margin-left: 15%;
	width: 70%;
	padding: 7px;
	border: 0px;
	-webkit-border-radius: 6px;
}

input.email{
	margin-left: 15%;
	width: 70%;
	padding: 7px;
	border: 0px;
	-webkit-border-radius: 6px;
}

input.submit{
	margin-left: 15%;
	width: 10%;
	padding: 7px;
	border: 0px;
	-webkit-border-radius: 6px;
}

input.mensagem{
	margin-left: 15%;
	width: 70%;
	height: 100px;
	padding: 7px;
	border: 0px;
	-webkit-border-radius: 6px;
}

input.radio{
	margin-left: 15%;
	width: 70%;
	padding: 7px;
	border: 0px;
	-webkit-border-radius: 6px;
}

#alinhar{
	margin-left: 15%;
	width: 70%;
	padding: 7px;
}

#bgWhite {

	background-color: white;
	color: #8DD13A;
	padding: 7px;
}
