
#sobre {

	height: 300px;
	background-color: #333333;
	color: white;
	padding: 40px;

}


h2 {
	text-align: center;
}

#quem {
	margin: 30px 20% 30px 20%;
	font-size: 40px;
}


.sobre-autor {
	width: 40%;
	padding-left: 50px;
	display: inline-block;
	font-family: 
}

.foto-autores {
	border-radius: 100px;
	width: 200px;
	height: 200px;
	margin: 40px;
}

.sobre-titulo {

}